.btn-info {
  color: #fff;
  background-color: #a0ce4e;
  border-color: #a0ce4e;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-primary {
  color: #fff;
  background-color: #a0ce4e;
  border-color: #a0ce4e;
}
